.abs
  position: absolute
  width: 95%

.admin
  background: asset-data-url('admin_bg_canvas.png')

.logo svg,
  width: 150px
  height: 50px

.right-links
  height: 50px

.container
  padding: 2em 2em

.large-type
  font-size: 2em

.medium-type
  font-size: 1.25em

ul,ol
  list-style: none

#rg-gallery
  margin-left: auto
  margin-right: auto

.rg-image img
  max-height: 500px !important

.inline-list > li
  margin-bottom: 1.375rem

.admin-heading
  margin-bottom: 1.5em

.new-piece
  margin-top: 0.5em

.actions > div
  display: inline-block

.alert-box
  margin-bottom: 3rem !important

.borders
  border-color: inherit

.nav
  position: relative
  z-index: 100
  opacity: 0.9

  .active
    border-width: 2px
    border-style: solid
    border-radius: 5px
    padding: 5px
    margin-left: -6px

img
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25)

@media only screen and (max-width: 40.063em)
  .logo svg,
    width: 100px
    height: 33px
  .medium-type
    font-size: 1em
