.container
  padding: 2em

.large-type
  font-size: 2em

.medium-type
  font-size: 1.5em

ul,ol
  list-style: none

#rg-gallery
  margin-left: auto
  margin-right: auto

.rg-image
  text-align: center
