<div id="rg-gallery" class="rg-gallery">
  <div class="rg-thumbs">
    <div class="es-carousel-wrapper">
      <div class="es-nav">
        <span class="es-nav-prev">Previous</span>
        <span class="es-nav-next">Next</span>
      </div>

      <div class="es-carousel">
        <ul class="inline-list">
          <% @images.each do |image| %>
            <li>
              <%= link_to image_tag(image.upload.thumb.url, 'data-large' => image.upload.url, 'data-description' => image.title), '#' -%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
