<ul class='hide'>
  <span class="es-nav-next"></span>
  <span class="es-nav-prev"></span>
  <div class="arrow"><%= inline_svg 'arrow.svg'-%></div>
</div>


<div id="rg-gallery" class="rg-gallery">
  <div class="rg-thumbs">
    <div class="elastislide-wrapper">
      <div class="elastislide-carousel elastislide-horizontal">
        <ul>
          <% @images.each do |image| %>
            <li>
              <%= link_to image_tag(image.upload.thumb.url, 'data-large' => image.upload.url, 'data-description' => image.title), '#' -%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
